<%= turbo_stream.append :projects_table_body do %>
  <% @projects.each do |project| %>
    <%= render "projects/table_row", project: %>
  <% end %>
<% end %>

<%= turbo_stream.replace :pagination do %>
  <% if @pagy.next.present? %>
    <%= turbo_frame_tag :pagination,
                        src: projects_path(page: @pagy.next, format: :turbo_stream),
                        loading: :lazy do %>
      <div class="pt-8 flex items-center justify-center bg-gray-50 bg-opacity-25 opacity-100 backdrop-blur-sm transition-opacity">
        <%= image_tag("ssr.svg", class: "animate-pulse") %>
      </div>
    <% end %>
  <% end %>
<% end %>
