<div class="flex flex-col space-y-4">
  <h1><strong>Project:</strong> <%= @project.name %></h1>
  <div>
    <strong>Description:</strong>
    <%= @project.description %>
  </div>
  <div>
    <strong>Start Date:</strong>
    <%= @project.start_date %>
  </div>
  <div>
    <p><strong>Status:</strong>
      <span class="font-medium"><%= @project.status %></span>
    </p>
  </div>

  <%= button_to "Delete project", @project, method: :delete, data: {turbo: false }, class: "font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-red-600 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" %>
</div>